body{
	margin-left:5%;
	margin-right:5%;
}

/*header*/
img[alt*="Logo"]{
	width: 27%;
	height: 50px;
	margin-top: 3%;
}
nav p{
	width:120px;
	height:40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
a{
	text-decoration: none;
}
a:active{
	color:#0065FC;
}
a:visited{
	color:black;
}
nav{
	display:flex;
	justify-content: space-around;
}
header{
	display:flex;
	justify-content:space-between;
}

/*intro section*/
#intro h2, #intro p{
	font-family:'Raleway', sans-serif;
	color:black;
	font-size:15px;
}
#intro h2{
	font-size:20px;
	font-weight:bold;
	margin-bottom:-10px;
}

/*search bar section*/
label{
	height:50px;
	padding:9px;
	text-align: center;
	border:1px #F2F2F2 solid;
	border-radius:15px 0px 0px 15px;
	background-color:#F2F2F2;
}
#ville{
	height:34px;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-weight: 500;
	border: 0.8px rgb(238, 235, 235) solid;
	margin-left:-6px;
	
}
#rechercher{
	width:95px;
	height:40px;
	border:1px rgb(238, 235, 235) solid;
	border-radius: 0px 12px 12px 0px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: #0065FC;
	font-weight: 500;
	margin-left:-4px;
}
#recherche{
	margin-bottom:30px;
}

/*filter section*/
#filtres{
	width:80%;
	min-width:65%;
	height:50px;
	display:flex;
	justify-content: space-between;
}
#filtres_ctr{
	width:90%;
	display:flex;
	justify-content: flex-start;
}
#filtres_texte{
	width:10%;
	padding-top:10px; /*align with icon and texte*/
}
.filtres_contenu{
	width:22%;
	height:75%;
	display:flex;
	justify-content: flex-start;
}
.filtres_icon{
	width:18%;
	text-align: center;
	color:#0065FC;
    background-color: #DEEBFF;
	border: 1px #DEEBFF solid;
    border-radius:50%;
	padding-top:10px; /*center icon in the circle*/
	margin-right: -30px;
}
.eco_rom, #familial, #animaux{
	padding-top:8px; /*to align text with icon*/
	padding-left:18px;
	border-top:1px rgb(238, 234, 234) solid;
    border-right:1px rgb(238, 234, 234) solid;
    border-bottom:1px rgb(238, 234, 234) solid;
	border-radius: 20px;
	text-align:center;
}
.eco_rom{
	width:60%;
}
#familial{
	width:50%;
}
#animaux{
	width:85%;
}
#filtrestexte, .eco_rom, #familial, #animaux{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: black;
}
.eco_rom:hover{     /*bleu au survol des filtres*/
	color:#0065FC;
}
#familial:hover{
	color:#0065FC;
}
#animaux:hover{      /*fin survol*/
	color:#0065FC;
}


/*info section*/
#info_icon{
	color:#0065FC;
	font-weight: lighter;
	font-size:12px;
	width:15px;
	height:15px;
	border:1px rgb(238, 235, 235) solid;
	border-radius: 50%;
	padding:4px;
	text-align: center;
	margin-right: 10px;
}
#info_texte{
	font-family:'Raleway', sans-serif;
	font-size:15px;
}
#info{
	display:flex;
}

/*Midcenter Section*/

#midsection{ /*container for center and side: flexed*/
	display:flex;
	justify-content: space-between;
	margin-top: 25px;
	margin-bottom: 70px;
}

/*center section*/
#center_ctr{
	width:66%;
	height:625px;
	border-radius: 15px;
	padding-bottom: 10px;
	background-color:#F2F2F2;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#hebergements_contenu{
	width:92%;
	height:85%;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}
#hebergements_texte{
	width:100%;
	height:5%;
	padding-left:8%;
	margin-bottom:-20px;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	color:black;
	font-size:20px;
}
.boxcenter{
	background-color: white;
	width:30%;
	height:35%;
	border-radius: 18px;
	box-shadow:3px 5px 6px #e7e5e5;
}
img[alt*="Image chambre"]{
	width:95%;
	height:55%;
    border-radius:15px 15px 0px 0px;
	margin-top:4px;
	margin-left:6px;
	object-fit: cover;
}
.boxcenter_texte{
	height:45%;
	margin-top:-11px;
	padding-left:15px;
}
.nomhebergement{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:15px;
	padding-top:-2px;
	margin-bottom:-8px;
}
.prix{
	font-family:'Raleway', sans-serif;
	font-weight:400;
	font-size:13px;
	margin-bottom:-5px;
}
.classement{
	color:#0065FC;
	font-size:11px;
}
.etoiles{
	color:rgb(209, 203, 203);
}

/*aside section*/
#aside_ctr{
	width:31%;
	height:625px;
	border-radius: 15px;
	background-color:#F2F2F2;	
	padding-bottom: 10px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#titre_aside{
	width:100%;
	height:50px;
	margin-bottom:-10px;
	display:flex;
	justify-content:space-between;
}
aside h2{
	width:50%;
	height:25px;
	margin-left:30px;
	font-family:'Raleway', sans-serif;
	font-weight:700;
	color:black;
	font-size:20px;
}
#icon_chart{
	height:20px;
	font-size: 25px;
	margin-top:18px;
	margin-right:35px;
}
.boxaside{
	background-color: white;
	width:77%;
	height:140px;
	border-radius: 18px;
	box-shadow:3px 5px 6px #e7e5e5;
	padding-left: 3%;
	display:flex;
	justify-content: space-around;
}
img[title*="Cliquez ici"]{ /*TEST for images*/
	width:95%;
	height:130px;
	margin:5px 0px 5px 7px;
	border-radius:15px 0px 0px 15px;
	object-fit: cover;
}
.boxaside_img{
	width:45%;
	margin-left:-28px;
}
.boxaside_texte{
	width:45%;
	padding-top:13px;
}


/*lower section*/
#activites{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	color:black;
	font-size:20px;
}
img[alt="Le Vieux Port"]{
	width:100%;
	height:400px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
}
img[alt="Le Parc National des Calanques"]{
	width:100%;
	height:400px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
}
img[alt="Le Fort de Pomègues"]{
	width:100%;
	height:170px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
}
img[alt="Le Parc Longchamp"]{
	width:100%;
	height:170px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
}
img[alt="Le Notre-Dame-de-la-Garde"]{
	width:100%;
	height:140px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
}
img[alt="Les Îles du Frioul"]{
	width:100%;
	height:140px;
	margin:0px;
	border-radius:15px 14px 0px 0px;
	object-fit: cover;
	object-position: top;
}

.bnomactivite{
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 15px;
	margin-left:15px;
	margin-bottom:5px;
	margin-top:15px;
}
.mnomactivite{
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 15px;
	margin-left:15px;
	margin-bottom:5px;
	margin-top:15px;
}
.snomactivite{
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 15px;
	margin-left:15px;
	margin-bottom:5px;
	margin-top:10px;
}

#low_ctr{
	display:flex;
}
.boxlow{
	width:50%;
	height:100%;;
	display:flex;
	justify-content: space-around;
}
#bbox_low1, #bbox_low2{
	width:47%;
	margin-left:-20px;
}
#msbox_low1, #msbox_low2{
	width:45%;
}
#msbox_low2{
	margin-right:-20px;
}
#msbox_low1, #msbox_low2{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.bbox, .mbox, .sbox{
	border-radius:18px;
	box-shadow:6px 4px 4px #F2F2F2;
}
.bbox{
	height:450px;
}
.mbox{
	height:225px;
}
.sbox{
	height:190px;
}

/*footer*/
footer{
	width:100%;
	height:230px;
	border:1px #F2F2F2 solid;
	margin-top: 50px;
	background-color:#F2F2F2;
	display:flex;
	justify-content: flex-start;
}
.footer{
	width:400px;
	margin-left: 50px;
	margin-top: 30px;
}

footer h3{
	font-family:'Raleway', sans-serif;
	font-weight:700;
	font-size:17px;
	color:black;
}

footer p{
	font-family:'Raleway', sans-serif;
	font-weight:400;
	font-size:15px;
	color:black;
}